@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700');

/* font-family: 'Roboto', sans-serif; font-family: 'Roboto Slab', serif; */

body {
  background: #fff;
  color: #414141;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;
  -ms-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
  outline: medium none;
  text-decoration: none;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

.clear {
  border: 0;
  clear: both;
  height: 0;
}

h1,
h2,
h3,
h4,
h6,
p {
  font-weight: normal;
  margin: 0;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
.my-jumbotron.jumbotron h1 {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 25px;
}

.btn.btn-success {
  position: absolute;
  height: 50px;
  width: 200px;
  line-height: 2.2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 18px;
  text-transform: uppercase;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
}

.popup {
  text-align: center;
}

.popup:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}

.popup-inner {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  position: relative;
  max-width: 700px;
  width: 90%;
  padding: 40px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 3px;
  background: #fff;
  text-align: center;
}

.popup-inner h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.popup-inner p {
  font-size: 17px;
  font-weight: 400;
}

.popup-close {
  width: 34px;
  height: 34px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  border-radius: 100%;
  background: transparent;
  border: solid 4px #808080;
}

.popup-close:after,
.popup-close:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 5px;
  height: 4px;
  width: 16px;
  border-radius: 30px;
  background: #808080;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup-close:hover {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
  transform: translate(50%, -50%) rotate(180deg);
  background: #f00;
  text-decoration: none;
  border-color: #f00;
}

.popup-close:hover:after,
.popup-close:hover:before {
  background: #fff;
}

h5 {
  margin-bottom: 20px;
}

.baris{height:250px;

}

.quot{width:500px;
  height: 250px;

}